@use "../../sass/abstracts/" as *;

.details {
  display: flex;
  flex-direction: column;

  .heading {
    @include heading($fs-900);
  }
  .heading2 {
    margin-block-start: clamp(1rem, 0.5rem + 3vw, 2rem);
    @include heading($fs-700);
  }
}
