@use "../abstracts" as *;

*:focus-visible {
  outline: 4px double black;
  outline-offset: 2px;
  box-shadow: 0 0 0 5px white;
  
body {
  font-size: $fs-400;
  font-weight: $fw-400;
  font-family: $ff-base;
  background-color: $color-neutral-100;
  color: $color-neutral-800;
  line-height: 1.5;
}
