*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  // Incase you want them to have default margin and padding
  margin: 0;
  padding: 0;
  list-style-type: "";
}
