@use "../../sass/abstracts/" as *;

.skeleton {
  display: inline-block;
  width: 100%;
  min-height: inherit;
  border-radius: $border-radius-1;

  animation: $animate;
}

@include flashAnimation();
