// Colors
$color-neutral-100: var(--clr-neutral-100);
$color-neutral-200: var(--clr-neutral-200);
$color-neutral-300: var(--clr-neutral-300);
$color-neutral-400: var(--clr-neutral-400);
$color-neutral-500: var(--clr-neutral-500);
$color-neutral-600: var(--clr-neutral-600);
$color-neutral-650: var(--clr-neutral-650);
$color-neutral-700: var(--clr-neutral-700);
$color-neutral-800: var(--clr-neutral-800);

$color-green: #6dc849;
$color-orange: #fdca52;
$color-red: #fc4b37;

// Light
$light: (
  "neutral": (
    100: #ffffff,
    200: #e8e8e8,
    300: #3b3b3b,
    400: #303030,
    500: #202020,
    600: #262626,
    650: #181818,
    700: #141414,
    800: #000000,
  ),
);

// Dark
$dark: (
  "neutral": (
    800: #ffffff,
    700: #e8e8e8,
    650: #3b3b3b,
    600: #303030,
    500: #202020,
    400: #262626,
    300: #181818,
    200: #141414,
    100: #000000,
  ),
);
