// Colors
$color-neutral-100: var(--clr-neutral-100);
$color-neutral-300: var(--clr-neutral-300);
$color-neutral-400: var(--clr-neutral-400);
$color-neutral-500: var(--clr-neutral-500);
$color-neutral-600: var(--clr-neutral-600);
$color-neutral-700: var(--clr-neutral-700);
$color-neutral-800: var(--clr-neutral-800);

// Light
$light: (
  "neutral": (
    100: #ffffff,
    300: #303030,
    400: #3b3b3b,
    500: #202020,
    600: #262626,
    700: #141414,
    800: #000000,
  ),
);

// Dark
$dark: (
  "neutral": (
    800: #ffffff,
    700: #303030,
    600: #3b3b3b,
    500: #202020,
    400: #262626,
    300: #141414,
    100: #000000,
  ),
);
