@use "sizes" as *;
@use "functions" as *;

$theme-active: true;

// Bottom Space
$bottom-margin-block-end: 10rem;

// box shadow related
$box-shadow: 0 0 size(12) rgb(black, 0.25);

// border related
$border-radius-1: $size-2;
$border-radios-round: 100vw;

// spacing related
$hero-padding-block: clamp($size-12, 0.5rem + 10vw, $size-13);
$section-padding-block: clamp(rem(60), 0.5rem + 10vw, rem(80));
$card-body-padding: $size-4;

// display gap related
$grid-gap: 1.5rem;
$flex-gap: 1rem;

// container related
$container-inline-padding: clamp(rem(10), 0.5rem + 3vw, rem(40));
$container: rem(975);
$container-wide: rem(1800);
$container-narrow: rem(680);

// gameCard
$game-card-height: 20rem;
