@use "../../sass/abstracts/" as *;

.switch {
  display: flex;
  align-items: center;
  gap: $flex-gap;

  .title {
    font-weight: $fw-700;
  }

  .switchButton {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: $size-10;
    height: $size-6;
    border: 0;
    border-radius: $border-radius-1;
    background-color: $color-neutral-800;

    @include box-shadow(before);

    &::after {
      position: absolute;
      content: "";
      inset: 0.2rem;
      width: $size-4;
      background-color: $color-neutral-100;
      border-radius: $border-radius-1;
      transition: 200ms ease;
    }
  }

  input:focus + .switchButton {
    @include focus-visible();
  }

  input:checked + .switchButton::after {
    transform: translateX(#{$size-10 - $size-4 - 0.4rem});
  }
}
