@use "../sass/abstracts/" as *;

.GameDetails {
  margin-block-start: $section-padding-block;
  .firstSpliter {
    display: grid;
    grid-gap: $grid-gap;

    @include mq(xl) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .desc {
    font-size: $fs-500;
  }
}
