@use "../sass/abstracts/" as *;

.homePage {
  display: grid;
  grid-template-columns: rem(250) 1fr;
  gap: $grid-gap;

  .aside {
    display: none;
  }

  .main {
    grid-column: 1 / -1;
  }

  @include mq(lg) {
    .aside {
      display: block;
    }
    .main {
      grid-column: span 1;
    }
  }
}
