@use "../../sass/abstracts/" as *;

.heading {
  width: 6rem;
  height: 2rem;
  border-radius: $border-radius-1;
  animation: $animate;
}
.panel {
  background-color: $color-neutral-100;
  padding: $card-body-padding;
  border-right: 2px solid $color-neutral-800;
  border-radius: $border-radius-1 0 0 $border-radius-1;
  height: fit-content;
  box-shadow: $box-shadow;

  .genre {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: $flex-gap;

    .img {
      width: 6rem;
      height: 3rem;
      border-radius: $border-radius-1;
      animation: $animate;
    }

    .title {
      width: 100%;
      min-height: 1rem;
      border-radius: calc($border-radius-1 / 2);
      animation: $animate;
    }
  }
}

@include flashAnimation();
