@use "../../sass/abstracts/" as *;

.panel {
  background-color: $color-neutral-100;
  padding: $card-body-padding;
  border-radius: $border-radius-1;
  height: fit-content;
  @include box-shadow();

  .genre {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: $flex-gap;

    .img {
      width: 6rem;
      height: 3rem;
      border-radius: $border-radius-1;
      animation: $animate;
    }

    .title {
      width: 100%;
      min-height: 1rem;
      border-radius: calc($border-radius-1 / 2);
      animation: $animate;
    }
  }
}

@include flashAnimation();
