@use "../../sass/abstracts/" as *;

.heading {
  @include heading($fs-700);
}
.panel {
  position: sticky;
  top: 2rem;
  border-right: 2px solid $color-neutral-800;
  max-height: calc(100vh - 11rem);
  overflow-y: auto;
  box-shadow: $box-shadow;

  .genre {
    button {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: $flex-gap;
    }

    img {
      width: 4rem;
      height: 3rem;
      border-radius: $border-radius-1;
      object-fit: cover;
    }

    .title {
      text-align: left;
      font-size: $fs-500;
      font-weight: $fw-700;
    }

    .scaleUp {
      transform: scale(1.1);
      text-decoration: underline;
    }
  }
}
