@use "../../sass/abstracts/" as *;

.panel {
  position: sticky;
  top: 2rem;
  background-color: $color-neutral-100;
  box-shadow: $box-shadow;
  padding: $card-body-padding;
  border-radius: $border-radius-1;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;

  .genre {
    button {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: $flex-gap;
    }

    img {
      width: 4rem;
      height: 3rem;
      border-radius: $border-radius-1;
      object-fit: cover;
    }

    .title {
      text-align: left;
      font-size: $fs-500;
      font-weight: $fw-700;
    }

    .scaleUp {
      transform: scale(1.1);
      text-decoration: underline;
    }
  }
}
