@use "../../sass/abstracts/" as *;

.gameCard {
  user-select: text;
  height: $game-card-height;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  border-radius: $border-radius-1;
  background-color: $color-neutral-200;
  box-shadow: $box-shadow;
  transition: 200ms ease-in-out;
  overflow: hidden;

  & > div {
    overflow: hidden;
    img {
      pointer-events: none;
      object-fit: cover;
      object-position: top;
    }
  }
  .img {
    background-color: gray;
  }

  .info {
    padding: $card-body-padding;
  }

  .platforms_metric {
    display: flex;
    justify-content: space-between;
    gap: $flex-gap;
    height: 100%;
    max-height: 2rem;
  }

  .title {
    display: inline-block;
    padding: 0.2rem;
    padding-inline-start: 0;
    margin-inline-start: -2px;
    border: 2px solid transparent;
    border-radius: $border-radius-1;
    text-decoration: none;
    color: $color-neutral-800;
    font-weight: $fw-700;
    font-size: $fs-700;
    line-height: 1.05;
    transition: 200ms ease-in-out;

    &:is(:hover, :focus) {
      border-color: $color-neutral-800;
    }
  }

  &:is(:hover, :focus) {
    transform: scale(1.05);
  }
}
