@use "../../sass/abstracts/" as *;

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  border-radius: $border-radius-1;
  padding: 0.5em 1em;
  transition: 250ms ease-out;

  &[data-type="primary"] {
    background-color: $color-primary-400;
    color: $color-neutral-100;
    &:is(:hover, :focus) {
      background-color: $color-blue-300;
      color: $color-primary-700;
    }
  }
  &[data-type="accent"] {
    background-color: $color-accent-300;
    color: $color-primary-700;
    &:is(:hover, :focus) {
      background-color: $color-accent-200;
    }
  }
  &[data-type="link"] {
    color: $color-primary-400;
    &:is(:hover, :focus) {
      background-color: $color-neutral-200;
    }
  }
}
