@use "../../sass/abstracts/" as *;

.ComboBox {
  position: relative;
  z-index: 10;

  & > * {
    width: 100%;
    text-align: left;
    font-size: $fs-500;
  }

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: $fw-700;
    cursor: pointer;
    border: 1px solid $color-neutral-800;
    border-radius: $border-radius-1;
    color: $color-neutral-800;
    background-color: $color-neutral-200;
    padding: 0.5rem 1rem;

    @include box-shadow();

    & > * {
      user-select: none;
    }

    .icon {
      font-size: $fs-700;
      transition: 200ms ease-in-out;

      &[data-type="spinned"] {
        transform: rotateX(180deg);
      }
    }
  }

  .items {
    position: absolute;
    background-color: $color-neutral-200;
    border: 1px solid $color-neutral-800;
    border-radius: $border-radius-1;
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    & > * {
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: 150ms ease-in-out;

      &:is(:hover, :focus) {
        background-color: $color-neutral-100;
        transform: scale(1.1) translateX(0.2rem);
      }
    }
  }
}

.enter {
  transform: scale(0);
}
.enterActive {
  transform: scale(1);
  transition: 100ms ease-in-out;
}
.exit {
  transform: scale(1);
}
.exitActive {
  transform: scale(0);
  transition: 100ms ease-in-out;
}
